:root {
    --radius: 2px;
    --margin-width: 600px;
}

.createUserPage{
    background-image: linear-gradient(120deg, #18191a, #111111);
    padding: 40px 0 0 0;
    height: 100vh;
}

.ui.form .field  label{
    color: white;
}

.createUserForm{
    width: 900px;
    margin: 0 0 0 400px;
    padding: 36px;
    border-radius: 8px;
    background-color: #282c34;
    color: white;

    .title{
        text-align: center;
    }
}



.ui.input.input > input[type=text]{
    background-color: #18191a;
    color: white;
    :focus{
        background-color: #111111;
        color: white;
    }
    ::selection{
        background: white;
    }
}

.ui.input.input > input[type=password]{
    background-color: #18191a;
    color: white;
    :focus{
        background-color: #111111;
        color: white;
    }
    ::selection{
        background: white;
    }
}
input::selection, textarea::selection{
    background: white;
}

.ui.button.button.button{
    color: #282c34;
}
